# IDEs
.idea/
.vscode/

# Dependencias
**/node_modules/

# Variables de entorno
**/.env
**/.env.local

# Logs
*.log
npm-debug.log*

# Builds
dist/
build/
.next/
out/

# Sistema
.DS_Store
Thumbs.db

# Archivos obsoletos que ya eliminamos
backend/*.backup.js
backend/seed*.js
backend/mapeo_*.json
backend/data_originales/