* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.dia-disponible {
  background-color: #90ee90 !important;
  color: #000;
}

.dia-no-disponible {
  background-color: #eee !important;
  color: #999;
}

