<section class="login-section d-flex justify-content-center align-items-center min-vh-100">
  <div class="login-card">

    <div class="d-flex justify-content-center mb-4" style="padding-bottom: 15px;">
      <a routerLink="/iniciar-sesion" 
         class="btn btn-pink px-5 py-2 fw-bold me-3">
        Iniciar Sesión
      </a>
      <a routerLink="/registrarse" 
         class="btn btn-outline-pink px-5 py-2 fw-bold">
        Registrarse
      </a>
    </div>

    <h2 class="text-center fw-bold mb-4" style="color: #ff69b4;">Iniciar Sesión</h2>
    <p class="text-center text-muted mb-5">
      Accede con tu cuenta para gestionar tus citas y servicios.
    </p>

    <form (ngSubmit)="iniciarSesion()">
      <div class="mb-4">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          class="form-control form-control-custom"
          placeholder="Introduce tu correo electrónico"
          required
        >
      </div>

      <div class="mb-5">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="contraseña"
          class="form-control form-control-custom"
          placeholder="Introduce tu contraseña"
          required
        >
      </div>

      <div class="text-center mt-5">
        <button
          type="submit"
          class="btn btn-login w-100"
        >
          Entrar
        </button>
      </div>
    </form>

    <p class="text-center mt-4 mb-0 text-muted">
      ¿No tienes cuenta?
      <a [routerLink]="'/registrarse'" class="fw-bold" style="color: #ff69b4;">Regístrate aquí</a>
    </p>
  </div>
</section>






